@inherits LayoutComponentBase
@inject SignInManager<IdentityUser> SignInManager
@inject NavigationManager Navigation

<div class="d-flex flex-column min-vh-100">
    <header class="navbar navbar-dark bg-dark navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <i class="fas fa-tasks me-2"></i>TaskMaster
            </a>

            <AuthorizeView>
                <Authorized>
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <NavLink href="/tarefas" class="nav-link">Lista de Tarefas</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="/adicionar-tarefa" class="nav-link">Nova Tarefa</NavLink>
                        </li>
                    </ul>
                    <button @onclick="Logout" class="btn btn-danger ms-auto">
                        <i class="fas fa-sign-out-alt"></i> Sair
                    </button>
                </Authorized>
            </AuthorizeView>
        </div>
    </header>

    <main class="flex-grow-1 p-3">
        @Body
    </main>

    <footer class="bg-light p-3 text-center">
        © @DateTime.Now.Year - TaskMaster
    </footer>
</div>

@code {
    private async Task Logout()
    {
        await SignInManager.SignOutAsync();
        Navigation.NavigateTo("/login", forceLoad: true);
    }
}