@inject NavigationManager Navigation
@inject SignInManager<IdentityUser> SignInManager
@using Microsoft.AspNetCore.Identity
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components.Authorization
@attribute [Microsoft.AspNetCore.Authorization.Authorize]


<h3>ListaDeTarefas</h3>

@code {

}
